@media (max-width: 768px) {
    .banner h1 {
        font-size: 25px !important;
    }
    .banner h2 {
        font-size: 20px !important;
    }
    .testimonials,
    .logo-container {
        width: 100%;
    }
    .navbar-brand {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-nav {
        gap: 25px;
    }
    .nav-right {
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav-right {
        display: flex;
        width: 34%;
    }
}

@media (min-width: 1200px) {
    .navbar-nav {
        gap: 46px;
    }
}